{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Create a listing</h1>

    <form action="{% url 'createListing' %}" method="post">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Title" name="title">
            <input class="form-control" type="text" placeholder="Description" name="description">
            <input class="form-control" type="number" name="startingBidAmount" step="0.01" min="0" placeholder="starting bid amount">
            <label class="form-control" for="imageURL">(Optional):</label>
            <input class="form-control" type="url" name="imageURL" id="imageURL" placeholder="image URL">
            <input class="form-control" type="text" name="category" id="category" placeholder="category">
        </div>
    
        <input class="btn btn-primary" type="submit" value="Create Auction">
        {% csrf_token %}
    </form>
  
{% endblock %}