{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Create a listing</h1>

    <form action="{% url 'createListing' %}" method="post">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Description" name="description">
        <input type="number" name="startingBidAmount">
        <label for="imageURL">(Optional):</label>
        <input type="url" name="imageURL" id="imageURL">
        <input type="submit">
        {% csrf_token %}
    </form>

{% endblock %}