{% extends "auctions/layout.html" %}

{% block body %}
    {% if isWinner %}
    <h1>You won this auction!</h1>
    {% endif %}

    <h2>{{auction.title}}</h2>
    {% if auction.imageURL != null %}
        <div style="max-width: 400px" >
            <img src={{auction.imageURL}} style="max-width:100%;" />
        </div>
    {% endif %}
    {% if auction.category != null %}
        <p>Category: {{ auction.category }}</p>
    {% endif %}
        <p>Description: {{auction.description}}</p>
    {% if largestAmount == null %}
        <p>Starting Bid Amount: {{auction.startingBidAmount}}</p>
    {% else %}
        <p>Current Bid Amount: {{ largestAmount }}</p>
    {% endif %}
    <p>Date Posted: {{auction.date}}</p>
    <p>Seller: {{auction.userPosted.username}}</p>

    <hr>
    {% for comment in comments %}
        <h5>{{comment.user.username}}</h5>
        <p>{{comment.comment}}</p>
    {% empty %}
    No comments.
    {% endfor %}
    <hr>

    {% if user.is_authenticated %}
        <form style="margin-top: 10px;" action="{% url 'comment' %}" method="post">
            {% csrf_token %}
            
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            <div class="form-group">
                <textarea class="form-control" name="comment">Comment...</textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Add Comment">
        </form>
    {% endif %}
            
    {% if user.is_authenticated and not isWatched %}
        <form style="margin-top: 10px;" action="{% url 'bid' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            
            <div class="form-group">
                <input class="form-control" name="amount" type="number" step="0.01" min="{{ auction.startingBidAmount }}" placeholder="Amount">
            </div>
            <input class="btn btn-primary" type="submit" value="Make Bid">
        </form>

        <form style="margin-top: 20px;" action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            <input class="btn btn-primary" type="submit" name="Add to Watchlist" value="Add to Watchlist">
        </form>

        {% if isPoster %}
            <form style="margin-top: 20px;" action="{% url 'close' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ user.id }}" name="userid">
                <input type="hidden" value="{{ auction.id }}" name="auctionid">
                <input class="btn btn-primary" type="submit" name="Close" value="Close">
            </form>
        {% endif %}
    {% elif user.is_authenticated %}
        <form style="margin-top: 10px;" action="{% url 'bid' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            <div class="form-group">
                <input class="form-control" name="amount" type="number" step="0.01" min="{{ auction.startingBidAmount }}" placeholder="Amount">
            </div>
            <input class="btn btn-primary" type="submit" value="Make Bid">
        </form>

        <form style="margin-top: 20px;" action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            <input class="btn btn-primary" type="submit" name="Remove from Watchlist" value="Remove from Watchlist">
        </form>
        {% if isPoster %}
            <form style="margin-top: 20px;" action="{% url 'close' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ user.id }}" name="userid">
                <input type="hidden" value="{{ auction.id }}" name="auctionid">
                <input class="btn btn-primary" type="submit" name="Close" value="Close">
            </form>
        {% endif %}
    {% else %}
        Not signed in.
    {% endif %}



{% endblock %}