{% extends "auctions/layout.html" %}

{% block body %}


    <h2>{{auction.title}}</h2>
    {% if auction.imageURL != null %}
        <img src={{auction.imageURL}}>
    {% endif %}
    {% if auction.category != null %}
        <p>Category: {{ auction.category }}</p>
    {% endif %}
        <p>Description: {{auction.description}}</p>
    {% if largestAmount == null %}
        <p>Starting Bid Amount: {{auction.startingBidAmount}}</p>
    {% else %}
        <p>Current Bid Amount: {{ largestAmount }}</p>
    {% endif %}
    <p>Date Posted: {{auction.date}}</p>
    <p>Seller: {{auction.userPosted.username}}</p>
            
    {% if user.is_authenticated and not isWatched %}
        <form action="{% url 'bid' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            <input name="amount" type="number" step="0.01" min="{{ auction.startingBidAmount }}" placeholder="Amount">
            <input type="submit" value="Make Bid">
        </form>

        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            <input type="submit" name="Add to Watchlist" value="Add to Watchlist">
        </form>

        {% if isPoster %}
            <form action="{% url 'close' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ user.id }}" name="userid">
                <input type="hidden" value="{{ auction.id }}" name="auctionid">
                <input type="submit" name="Close" value="Close">
            </form>
        {% endif %}
    {% elif user.is_authenticated %}
        <form action="{% url 'bid' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            <input name="amount" type="number" step="0.01" min="{{ auction.startingBidAmount }}" placeholder="Amount">
            <input type="submit" value="Make Bid">
        </form>

        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="userid">
            <input type="hidden" value="{{ auction.id }}" name="auctionid">
            <input type="submit" name="Remove from Watchlist" value="Remove from Watchlist">
        </form>
        {% if isPoster %}
            <form action="{% url 'close' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ user.id }}" name="userid">
                <input type="hidden" value="{{ auction.id }}" name="auctionid">
                <input type="submit" name="Close" value="Close">
            </form>
        {% endif %}
    {% else %}
        Not signed in.
    {% endif %}

{% endblock %}