{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <ul>
        {% for pair in auction_price %}
        <li>
            <h5><a href="{% url 'listing' pair.0.id %}">{{pair.0.title}}</a></h5>
            {% if pair.0.imageURL != null %}
                <div style="max-width: 400px" >
                    <img src={{pair.0.imageURL}} style="max-width:100%;" />
                </div>
            {% endif %}
            {% if pair.0.category != null %}
                <p>Category: {{ pair.0.category }}</p>
            {% endif %}
                <p>Description: {{pair.0.description}}</p>
                <p>Current Bid Amount: {{pair.1}}</p>
            <p>Date Posted: {{pair.0.date}}</p>
            
        </li>
        {% empty %}
        No auctions have been posted...
        {% endfor %}

    </ul>
    

{% endblock %}